div {

    background-color: aquamarine;
    justify-content: center;

    padding: 20px 500px;

}

button {
    height: 50px;
    justify-content: center;
    align-items: center;
   
    
}
input{
    height: 50px;
    justify-content: center;
    align-items: center;

    
}
